# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store
