Django>=5.0,<6.0
wagtail>=6.0,<7.0
django-taggit>=5.0
django-modelcluster>=6.0
Pillow>=10.0

gunicorn

dj-database-url

whitenoise

psycopg2-binary

cloudinary

django-cloudinary-storage

python-dotenv