{# partials/jsonld_destination.html #}
{% if page %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "{{ request.build_absolute_uri }}",
    "name": "{{ page.title|escapejs }}",
    {% if page.seo_description %}
    "description": "{{ page.seo_description|striptags|escapejs }}",
    {% endif %}
    {% if page.hero_image %}
    "primaryImageOfPage": {
      "@type": "ImageObject",
      "url": "{{ page.hero_image.file.url }}"
    }
    {% endif %}
  }
  </script>
{% endif %}
