{# partials/jsonld_article.html #}
{% if page %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ request.build_absolute_uri }}"
    },
    "headline": "{{ page.title|escapejs }}",
    {% if page.seo_description %}
    "description": "{{ page.seo_description|striptags|escapejs }}",
    {% endif %}
    {% if page.cover_image %}
    "image": ["{{ page.cover_image.file.url }}"],
    {% endif %}
    "datePublished": "{{ page.first_published_at|date:'c' }}",
    "dateModified": "{{ page.last_published_at|date:'c' }}"
  }
  </script>
{% endif %}
