{% load wagtailcore_tags %}

{% load wagtailcore_tags %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Inicio",
      "item": "{{ request.scheme }}://{{ request.get_host }}/"
    }
    {% for ancestor in breadcrumb_ancestors %}
      ,{
        "@type": "ListItem",
        "position": {{ forloop.counter|add:1 }},
        "name": "{{ ancestor.title|escapejs }}",
        "item": "{{ request.scheme }}://{{ request.get_host }}{{ ancestor.url }}"
      }
    {% endfor %}
    ,{
      "@type": "ListItem",
      "position": {{ breadcrumb_ancestors|length|add:2 }},
      "name": "{{ page.title|escapejs }}",
      "item": "{% if page.full_url %}{{ page.full_url|escapejs }}{% else %}{{ request.build_absolute_uri|escapejs }}{% endif %}"
    }
  ]
}
</script>
