{% load wagtailimages_tags static %}

{% if page %}
  {% with page_url=page.full_url|default:request.build_absolute_uri base=request.scheme|add:"://"|add:request.get_host %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page_url }}"
    },
    "headline": "{{ page.title|escapejs }}"{% if page.seo_description or page.search_description or page.intro %},{% endif %}
    {% if page.seo_description %}
    "description": "{{ page.seo_description|striptags|escapejs }}"{% elif page.search_description %}
    "description": "{{ page.search_description|striptags|escapejs }}"{% elif page.intro %}
    "description": "{{ page.intro|striptags|escapejs }}"{% endif %}
    {% if page.cover_image %}
      , "image": [
        "{% image page.cover_image fill-1200x630 as shareimg %}{{ base }}{{ shareimg.url }}"
      ]
    {% endif %}
    {% if page.first_published_at %}
      , "datePublished": "{{ page.first_published_at|date:'c' }}"
    {% endif %}
    {% if page.last_published_at %}
      , "dateModified": "{{ page.last_published_at|date:'c' }}"
    {% endif %}
  }
  </script>
  {% endwith %}
{% endif %}